.fa-github{color: #BFBFBF;}
.fa-google-plus{color: #BFBFBF;}
.fa-twitter{color: #BFBFBF;}
.fa-linkedin{color: #BFBFBF;}

.fa-github:hover{color: #FFFFFF;}
.fa-google-plus:hover{color: #FFFFFF;}
.fa-twitter:hover{color: #FFFFFF;}
.fa-linkedin:hover{color: #FFFFFF;}

.kombine{font-family: 'Megrim', cursive;}
